<form action="/board/update" method="post">
<h1>UPDATE</h1>
<p>ID:</p><input type="test" name="id" value="">

<p>Title:</p><input type="test" name="title" value="">

<p>Content:</p><input type="test" name="content" value="">

<p>Author:</p><input type="test" name="author" value="">

<input type="submit" name="" value="Update">

</form>
