<form action="/board/write" method="post">

<input type="test" name="title" value="">
<input type="test" name="content" value="">
<input type="test" name="author" value="">

<input type="submit" name="" value="">

</form>
